
/* THIS SECTION IS FOR ALL PAGES: BANNERS, GAL, FOOTER */

@media only screen and (min-width: 801px) {
    /* logo and menu */
    #logo {
        font-size: 75px;
    }
    #menu {
        display: inline-block;
        align-self: flex-end;
        margin-bottom: 15px;
        margin-right: 5%;
    }

    .menu-item {
        display: inline-block;
        margin: 10px;
        font-size: 25px;
        font-weight: 300;
        line-height: 0;
    }
    #menu input {
        display: none;
    }
    #menu span {
        opacity: 0;
        transition: opacity 0.5s ease-out;
    }
    .full-menu {
        display: none;
        opacity: 0;
    }
    
    /* gal */
    
    #proj-gal {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
    
    /* footer */
    
    footer {
        
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.5%;
        margin-left: 7.5%;
        
        margin-right: 7.5%;
    }
    .footer-left {
        width: 60%;
        display: inline-block;
    }
    footer div {
        display: inline-block;
        margin-right: 5%;
    }
    #version {
        display: inline-block;
    }
}

@media only screen and (max-width: 800px) {
    /* logo and menu */
    #logo {
        font-size: 10vw;
        white-space: nowrap;
    }
    #menu {
        user-select: none;
        z-index: 3;
        top: -5px;
        margin-right: 5%;
        position: relative;
    }
    #menu .menu-item {
        display: none;
    }
    
    #menu span {
        user-select: none;
        opacity: 1;
        display: block;
        width: 40px;
        background-color: #00FEE2;
        height: 4px;
        margin-bottom: 10px;
        transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu input {
        position: absolute;
        top: -3px;
        left: 0;
        width: 40px;
        height: 37px;
        margin: 0;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
    }
   
    #menu input:checked ~ span:nth-of-type(1) {
      transform: translateY(14px) rotate(45deg);
    }
    #menu input:checked ~ span:nth-of-type(2) {
      opacity: 0;
    }
    #menu input:checked ~ span:nth-of-type(3) {
      transform: translateY(-14px) rotate(-45deg);
    }
    
    
    .full-menu {
        user-select: none;
        width: 60%;
        height: 100vh;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        direction: block;
        background-color: rgba(255,255,255,0.9);
        text-align: center;
        padding: 20%;
        opacity: 0;
        display: none;
        transition: opacity 0.25s ease;
    }
    .full-menu h2 {
        color: red;
        font-size: 8vw;
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .full-menu.menu-open {
        opacity: 1;
    }
    
    /* gal */
    
    #proj-gal {
        padding-left: 7.5%;
        padding-right: 7.5%;
        padding-bottom: 5%;
    }
    
    /* footer */
    
    footer {
        text-align: left;
        margin-left: 7.5%;
        margin-right: 7.5%;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-between;
    }
    
    footer div {
        margin-right: 0%;
    }
    #version {
        align-self: flex-end;
        display: block;
    }
}


/* logo animation */

#logo-wrap {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 75px;
    position: relative;
    width: 250px;
    height: 70px;
    font-weight: 400;
    color: black;
    will-change: transform;
}

.firstname {
    position: absolute;
    left: 0;
    height: 70px;
}
.lastname-wrap {
    left: 27px;
    width: 240px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    transform-origin: left;
    height: 70px;
    transition: width .4s;
}

.lastname {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: transform .4s;
}


.underline {
    transition: width .4s;
    left: 25px;
    bottom: 3.5px;
    position: absolute;
    padding-top: 6px;
    width: 250px;
    background-color: #00FEE2;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}

a:visited {
    color: black;
}

a {
    cursor: pointer;
    text-decoration: none; 
    color: black;
    user-select: none;
}

a:hover, .menu-active {
    color: #00FEE2;
    text-decoration: underline;
}

#banner-wrapper {
    font-display: block;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .6) 0%, rgba(255, 255, 255, 0) 80%);
}

#banner {
    z-index: 3;
    user-select: none;
    padding-top: 40px;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    user-select: none;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: underline;
    text-decoration-color: #00FEE2;
    transition: transform .4s ease;
    transform-origin: top left;
    font-weight: 400;
}

#logo a {
    text-decoration-color: #00FEE2;
}

#logo a:visited {
    text-decoration-color: #00FEE2;
}
#menu {
    display: inline-block;
    align-self: flex-end;
}


/* FOOTER */
footer {
    margin-top: 7.5%;
    font-weight: 300;
    font-size: 15px;
    user-select: none;  
}

#footer-about {
    margin: 0;
    bottom: -300px;
    width: 85%;
    position: absolute;
}
footer a {
    text-decoration: underline;
}
footer a
#signature {
    font-weight: 300;
    text-decoration: none;
}


#version {
    text-decoration: none;
    font-size: 15px;
    margin-right: 0;
}

/* THIS SECTION IS FOR WORK PAGE */
@media only screen and (min-width: 1201px) {
    .wide-proj-entry, .narrow-proj-entry {
        min-height: 400px;
        max-height: 400px;
        height: 30vh;
        width: 45%;
        margin: 2.5%;
        float: left;
    }
    #project-entry {
        margin-left: 20%;
        margin-right: 15%;
        height: 75vh;
        position: relative;
    }
    #projects {
        width: 100%;
        height: 100%;
        position: relative;
        top: -45px;
    }
    .project-text {
        position: absolute;
        width: 100%;
        bottom: 0px;
        font-size: 15px;
        font-weight: 300;
        text-align: left;
        z-index: 1;
    }
    .project-title {
        position: absolute;
        opacity: 0;
        display: inline-block;
        transition: opacity .25s ease-in;
        right: 0;
        bottom: -4px;
        float: right;
        line-height: 0;
        font-size: 20px;
        font-weight: 500;
    }
    
    #btn-container {
        z-index: 2;
        right: 10px;
        bottom:35px;
        position: absolute;
        text-align: right;
        white-space: nowrap;
        user-select: none;
        font-size: 50px;
        font-weight: 300;
    }
    #project-tags {        
        font-size: 20px;
    }
    .project-thumb {
        height: 70vh;
        transform: translateX(-100px);
    }
}
@media only screen and (min-width: 801px) and (max-width: 1200px) {
    .wide-proj-entry {
        height: 50vh;
        min-height: 300px;
        max-height: 400px;
        width: 95%;
        margin: 2.5%;
    }

    .narrow-proj-entry {
        min-height: 250px;
        max-height: 350px;
        height: 20vh;
        width: 45%;
        margin: 2.5% 2.5% 5% 2.5% ;

        float: left;
    }
    
    #project-entry {
        margin-left: 20%;
        margin-right: 15%;
        height: 75vh;
        position: relative;
    }
    #projects {
        width: 100%;
        height: 100%;
        position: relative;
        top: -45px;
    }
    .project-text {
        position: absolute;
        width: 100%;
        bottom: 0px;
        font-size: 15px;
        font-weight: 300;
        text-align: left;
        z-index: 1;
    }
    .project-title {
        position: absolute;
        opacity: 0;
        display: inline-block;
        transition: opacity .25s ease-in;
        right: 0;
        bottom: -4px;
        float: right;
        line-height: 0;
        font-size: 20px;
        font-weight: 500;
    }
    
    #btn-container {
        z-index: 2;
        right: 10px;
        bottom:35px;
        position: absolute;
        text-align: right;
        white-space: nowrap;
        user-select: none;
        font-size: 50px;
        font-weight: 300;
    }
    #project-tags {        
        font-size: 20px;
    }
    .project-thumb {
        height: 70vh;
        transform: translateX(-100px);
    }
    
}

@media only screen and (max-width: 800px) {
    
    .wide-proj-entry, .narrow-proj-entry {
        min-height: 300px;
        max-height: 400px;
        height: 30vh;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    #projects {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0px;  
    }
    
    #project-entry {
        margin-left: 10%;
        margin-right: 10%;
        height: 65vh;
        position: relative;
    }
    
    .project-text {
        position: absolute;
        width: 100%;
        bottom: 10vh;
        font-size: 15px;
        font-weight: 300;
        z-index: 1;
        text-align: right;
    }
    .project-title {
        position: absolute;
        right: 0;
        opacity: 0;
        transition: opacity .25s ease-in;
        line-height: 0;
        font-size: 5vw;
        font-weight: 500;
    }
    
    #btn-container {
        z-index: 2;
        right: 5px;
        bottom: 35px;
        position: absolute;
        text-align: right;
        white-space: nowrap;
        user-select: none;
        font-size: 60px;
        font-weight: 300;
    }
    #project-tags {        
        font-size: 4vw;
    }
    .project-thumb {
        height: 50vh;
        transform: translateX(-50px);
    }
}

.project-thumb {
    user-select: none;
    width: 100%;
    opacity: 0;
    z-index: -2;
    transition: opacity .75s, transform .5s ease-out, filter .5s;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
}

.project-fade {
    opacity: 1;
    z-index: 0;
    transform: translateX(0px);
}

#project-tags {
    display: inline-block;
    font-weight: 300;
    opacity: .75;
}


.title-fade {
    opacity: 1;
}


#gal-left, #gal-right {
    display: inline-block;
    background: none;
    border-style: none;
    font-family: 'Open Sans', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

#gal-left:hover, #gal-right:hover {
    color: #00FEE2;
}



/* THIS SECTION IS FOR ABOUT PAGE */

@media only screen and (min-width: 801px) {
    .about-img {
        margin-left: 15%;
        margin-right: 50%;
        margin-top: 100px;
    }
    #biking {
        margin-left: 25%;
        margin-right: 50%;
    }
    
    #bio-body {
        margin-top: 80px;
        margin-left: 30%;
        width: 60%;  
        height: 100%;
        transform: translateZ(0px);
    }
    #bio h1 {
        font-size: 50px;
        font-weight: 400;
    }
    .bio-sect {
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 800px) {
    .about-img {
        margin-left: 5%;
        margin-right: 30%;
        margin-top: 75px;
    }
    #biking {
        margin-left: 35%;
        margin-right: 10%;
    }
    
    #bio-body {
        margin-top: 100px;
        margin-left: 15%;
        margin-right: 15%; 
        height: 100%;
        transform: translateZ(0px);
    }
    .about-img img {
        filter: opacity(0.6);
    }
    #bio h1 {
        font-size: 6vw;
        font-weight: 500;
    }
    
    .bio-sect {
        margin-bottom: 50px;
    }
}


.about-img img {
    width: 100%;
    object-fit: cover;
    object-position: right;
}


#bio {
    padding-top: 10%;
    background-color: rgba(255,255,255,0);
}

#bio h1 {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}


#bio i {
    font-style: normal;
    text-decoration: underline;
    text-decoration-color: #00FEE2;
}

#bio p {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
}

#parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#parallax-base {
    z-index: 1;
    transform: translateZ(0);
}

#parallax-back {
    z-index: -1;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateZ(-1px) scale(2);
}

.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/* THIS SECTION IS FOR PROJECT PAGE */
@media only screen and (min-width: 801px) {
    #logo-wrap.logo-shrink .lastname-wrap{
    width: 40px;
    }
    #logo-wrap.logo-shrink .lastname {
        transform: translateX(-184px);
    }

    #logo-wrap.logo-shrink .underline {
        width: 40px;
    }
    .project-page-thumb img{
        height: 50vh;
    }
    .project-page-thumb {
        width: 50%;
        margin-left: 10%;
        display: inline-block;
    }
    .project-page-description {
        opacity: 0;
        white-space: normal;
        width: 0px;
        height: 0px;
        display: inline-block;
        overflow: hidden;
        box-shadow: 15px 15px #00FEE2;
        transition: width 1s, opacity 1s;
        vertical-align: top;
    }
    .description-wrapper {
        width: 25vw;
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
    }

    .description-grow {
        width: 30%;
        opacity: 1;
        height: 100%; 
    }
    #project-page-title {
        font-weight: 400;
        font-size: 50px;
        margin-bottom: 15px;
    }
    #project-page-tags, #project-page-date{
        font-size: 30px;
        margin-bottom: 15px;
    }
    #project-page-team{
        font-size: 17px;
    }
    #project-page-intro h1{
        margin-left: 15%;
        margin-right: 15%;
        text-align: center;
        margin-bottom: 10%;
        font-size: 40px;
        font-weight: 400;
    }
    .content-block {
        padding-left: 17.5%;
        padding-right: 17.5%;
        margin-bottom: 2.5%;
    }
    #project-page-text p{
        font-size: 20px;
    }
    .col-left {
        display: inline-block;
        width: 47.5%;
        transform: translateX(-200px);
        opacity: 0;
        transition: opacity 1s, transform 1s;
    }

    .col-right {
        display: inline-block;
        float: right;
        width: 47.5%;
        transform: translateX(200px);
        opacity: 0;
        transition: opacity 1s, transform 1s;
    }
}
@media only screen and (max-width: 800px) {
    #logo-wrap {
        transform: scale(.75);
        transform-origin: left;
    }
    #logo-wrap.logo-shrink .lastname-wrap{
    width: 40px;
    }
    #logo-wrap.logo-shrink .lastname {
        transform: translateX(-184px);
    }

    #logo-wrap.logo-shrink .underline {
        width: 40px;
    }
    .project-page-thumb img{
        height: 40vh;
    }
    .project-page-thumb {
        
        margin-left: 10%;
        margin-right: 10%;
        transform: translateX(-100px);
    }
    .project-page-description {
        opacity: 0;
        white-space: normal;
        width: 0px;
        height: 0px;
        display: inline-block;
        overflow: hidden;
        box-shadow: 8px 8px #00FEE2;
        transition: width 1s, opacity 1s;
        vertical-align: top;
        text-align: right;
    }
    .description-wrapper {
        width: 72vw;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .description-grow {
        margin-left: calc(10% - 8px);
        width: 80%;
        opacity: 1;
        height: 100%; 
    }
    #project-page-title {
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 5px;
    }
    #project-page-tags, #project-page-date{
        font-size: 20px;
        margin-bottom: 5px;
    }
    #project-page-team{
        font-size: 15px;
    }
    #project-page-intro h1{
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        margin-bottom: 10%;
        font-size: 25px;
        font-weight: 400;
    }
    .content-block {
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 2.5%;
    }
    #project-page-text p{
        font-size: 18px;
    }
    .col-left {
        display: inline-block;
        width: 47.5%;
        transform: translateX(-100px);
        opacity: 0;
        transition: opacity 1s, transform 1s;
    }

    .col-right {
        display: inline-block;
        float: right;
        width: 47.5%;
        transform: translateX(100px);
        opacity: 0;
        transition: opacity 1s, transform 1s;
    }
}

#project-page-text a {
    text-decoration: underline; 
    color: black;
}

#project-page-text a:hover {
    color: #00FEE2;
    text-decoration: underline;
}

.project-content {
    width: 100%;
    height: 100%;
    position: relative;
    top: -45px;
}

.project-page-head {
    white-space: nowrap;
    margin-bottom: 5%;
    margin-top: 50px;
}
.project-page-thumb {
    transform: translateX(-100px);
    transition: opacity 1s, transform 1s;
    opacity: 0;
}
.project-page-thumb img{
    width: 100%;
    z-index: -2;
    object-fit: cover;
    object-position: center;
}
.thumb-transition {
    opacity: 1;
    transform: translateX(0px);
}

#project-page-title {
    font-family: 'Josefin Sans', sans-serif;
}

#project-page-tags, #project-page-date{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#project-page-team{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
}

#project-page-text {
    margin-bottom: 10%;
}

#project-page-text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.col-wide {
    transition: opacity 1s;
    opacity: 0;
    width: 100%;
}

.content-block h2 {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight: 500;
}

.col-wide h2 {
    margin-top: 10%;
    margin-bottom: 5px;
}

.content-block p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.appear {
    opacity: 1;
}

.slide-in {
    transform: translateX(0px);
}
.content-block {
    clear: right;
    display: block;
    overflow: hidden;
}
.content-block img {
    width: 100%;
}
.content-block video {
    width: 100%;
}


/* THIS SECTION IS FOR !OLD! OTHER PAGE */
@media only screen and (min-width: 800px) {
    #other-projects {
        top: -35px;
    }
    .other-project-row {
        display: flex;
        flex-direction: row;
    }
    .other-project-entry {
        min-height: 150px;
        position: relative;
        display: inline-block;
        text-align: left;
        transition: border 1s, box-shadow .25s ease-out;
        margin: 2.5%;
    }

    .entry-wide {
        width: 95%;
        height: 25vh;
    }

    .other-project-entry:hover:after {
        width: 100%;
    }
    .other-project-entry:after {
        content: '';
        height: 8px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        background: #00FEE2;
        transition: 0.25s;
    }
    .other-project-entry.entry-wide:after {
        content: '';
        height: 0;
        position: absolute;
        top: 0;
        right: 0;
        left: calc(100% - 8px);
        width: 8px;
        background: #00FEE2;
        transition: 0.25s;
    }
    .other-project-entry.entry-wide:hover:after {
        height: 100%;
    }

    .other-project-thumb {
        display: inline-block;
        width: 100%;
        height: 20vh;
        user-select: none;
    }

    .entry-wide .other-project-thumb {
        width: 70%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        float: left;
    }
    .entry-wide .other-project-text {
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        width: 25%;
        padding: 2%;
    }
}

@media only screen and (max-width: 800px) {
    #other-projects {
        top: 0px;
    }
    .other-project-entry {
        min-height: 200px;
        position: relative;
        display: inline-block;
        text-align: left;
        transition: border 1s, box-shadow .5s ease-out;
        width: 100%;
        height: 100%;
        margin-bottom: 5%;
    }

    .other-project-entry:after {
        content: '';
        height: 0;
        position: absolute;
        top: 0;
        right: 0;
        left: calc(100% - 8px);
        width: 8px;
        background: #00FEE2;
        transition: 0.25s;
    }
    .other-project-entry:hover:after {
        height: 100%;
    }
    .other-project-thumb {
        min-height: 150px;
        width: 100%;
        height: 20vh;
    }
    .other-project-text {
        width: 90%;
    }
}

#other-projects {
    width: 85%;
    position: relative;
    height: 100%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    text-align: left;
}

.other-project-tag {
    display: inline-block;
}
#other-projects a {
    text-decoration: none;
    vertical-align: bottom;
}
#other-projects a:hover {
    text-decoration: none;
    color: black;
}
.other-project-thumb {
    object-fit: cover;
    object-position: center;
    margin-bottom: none;
}

.other-project-entry:hover {
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}
.other-project-header {
    margin-top: 5px;
}

.other-project-entry p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 300;
}

.other-project-text {
    padding: 5%;
}
.other-project-entry h1 {
    display: inline-block;
    font-size: 125%;
    line-height: 0;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    font-weight: 600;
}


/*
new layout
work page
*/
#proj-gal {
    box-sizing: border-box;
    z-index: -1;
    overflow: auto;
}


.proj-entry-test {
    overflow: hidden;
    position: relative;
    
}


.proj-test-thumb {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s ease;
    transform: scale(1.01);
}

.test-text {
    margin: 25px;
    color: black;
    bottom: 0;
    text-align: left;
    position: absolute;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    z-index: 1;
    opacity: 0;
    transition: .5s ease;
    
}

.proj-test-thumb::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: white;
    display: block;
    transition: .5s ease;
    opacity: 0;
    backface-visibility: hidden;
}


.proj-entry-test:hover .proj-test-thumb:before {
    opacity: .7;
}


.proj-entry-test:hover .proj-test-thumb {
    transform: scale(1.1);
    
}
.proj-entry-test:hover .test-text {
    opacity: 1;
}


/*
other page
*/
/* THIS SECTION IS FOR !NEW! OTHER PAGE */
@media only screen and (min-width: 801px) {
    .other-test-container {
        width: 45%;
        height: 400px;
        right: 5%;
    }
    .other-drop-shadow {
        right: calc(5%);
        padding-left: calc(45%);
        padding-bottom: 400px;
    }
    .other-test-text-container {
        left: 10%;
        position: absolute;
        top: 0;
        width: 35%;
        padding: 2.5%;
        border: solid black 2.5px;
        box-sizing: border-box;
    }
    .other-test-title {
        display: inline-block;
        font-size: 35px;
        margin-bottom: 15px;
    }
    .other-test-entry {
        height: 400px;
        position: relative;
        margin-top: 5%;
        margin-bottom: 5%;
        
    }
    .other-test-proj {
        font-size: 25px;
        font-weight: 100;
        display: block;
        margin-bottom: 15px;
    }

}

@media only screen and (max-width: 800px) {
    .other-test-entry {
        height: 450px;
        position: relative;
        margin-top: 5%;
        margin-bottom: 15%;
    }
    .other-test-container {
        width: 100%;
        height: 200px;
    }
    .other-drop-shadow {
        padding-left: 100%;
        padding-bottom: 200px;
    }
    .other-test-text-container {
        box-sizing: border-box;
        width: 100%;
        position: absolute;
        top: 220px;
        padding: 5%;
        border: solid black 2.5px;
    }
    
    .other-test-title {
        display: inline-block;
        font-size: 35px;
        margin-bottom: 10px;
    }
    .other-test-proj {
        font-size: 25px;
        font-weight: 100;
        display: block;
        margin-bottom: 10px;
    }
}

.other-test-container {
    overflow: hidden;
    position: absolute;
    opacity: 0;
    transition: transform .25s, opacity .25s;
    z-index: 1;
}

.other-img-fade {
    opacity: 1;
}

.other-drop-shadow {
    position: absolute;
    background-color: #00FEE2; 
    top: 0;
    transition: transform .25s ease;
}

.other-test-thumb {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.other-test-entry:hover .other-drop-shadow {
    transform: translateX(7.5px) translateY(7.5px);
}

.other-test-entry:hover .other-test-container{
    transform: translateX(-7.5px) translateY(-7.5px);
}


/*
New About Page
*/
@media only screen and (min-width: 801px) {
    #about-img{
        width: 40%;
        height: 500px;
        margin: 0;
        display: inline-block;
        background-position: bottom;
    }
    #about-test-header {
        margin-left: 2.5%;
        width: 100%;
    }

    #about-hello {
        padding-left: 5%;
        width: 57.5%;
        display: inline-block;
    }
    #about-test-bio {
        padding-left: 5%;
        width: 57.5%;
    }
    
    .hobbies {
        text-align: right;
        
    }
}

@media only screen and (max-width: 800px) {
    #about-img{
        height: 500px;
        width: 100%;
        margin: 0;
    }
    #about-test-header {
        width: 100%;
    }
    #about-hello {
        padding-top: 5%;
        width: 100%;
        display: inline-block;
    }
    #about-test-bio {
        width: 100%;
    }
    
    .hobbies {
        text-align: left;
        margin-right: 5%;
    }
}


    
#about-img {
    background-size: cover;
    
}

#about-test-header {
    font-size: 0;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2.5%;
}

#about-hello {
    box-sizing: border-box;
    font-size: clamp(30px, 5vw, 50px);
    font-weight: 500;
    line-height: clamp(40px, 6vw, 60px);
}
#about-test-bio {
    box-sizing: border-box;
    float: right;
}

.hobbies {
    margin-top: 5px;
    font-size: 15px;
    width: 42.5%;
    font-weight: 300;
    margin-bottom: 20px;
    float: left;
}
.hobby-header {
    font-weight: 400;
}
.about-test-sect {
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 20px;
    
}

